<html>
<body bgcolor=white>
<center>
<h2><font color=yellow>Hello from winadm87</font></h2>
<br>!Burn in hell!<br>

Owner of this server is: {{ owner }}<br>
Hostname is: {{ ansible_hostname }}<br>
Server is: {{ ansible_os_family }}<br>
Server ip is: {{ansible_default_ipv4.address }}<br>

Lets add one new string to test file regeneration from ansible role<br>
And add some variable: python ver: {{ discovered_interpreter_python }}
<font color=purple> Old string - and once again</font><br>
<font color=blue>Very old string - hello cruel world</font><br>
</center>
</body>
</html>
